:root {
    --orange: #EB6C27;
    --white: #ffffff;
  }
@media (min-width: 1281px) {
.page__hero {
    background-image: none;
      }    
.navbar__menu {
    width: 750px;
    background-color: hsla(0, 0%, 0%, 0.0);
   }
   .navbar__logo {
    padding-right: 900px ;
    margin-top: 15px;
   }
   .nav-item {
    background-color: var(--white);
    display: flex;
    color: gray;
  }
  .nav-link {
    color: gray;
    display:block;
    margin-left: 50px;
  }
  .nav-link:active { 
    background-color: var(--orange);
  }
  .nav-item {
    background-color: none;
  }
  .navbar {
    display: flex;
    background-image: url(./img/bg1920filter.jpg);
    background-repeat: no-repeat;
  }
  .page__hero {
    filter: none;
  }
   .page__hero_title {
    color: var(--white);
    font-weight: 800;
    margin-top: -357px;
    white-space: nowrap;
    width: max-content;
    font-size: 120px;
    margin-left: 400px;
    margin-top: -775px;
    margin-bottom: 275px;
    filter: none;
  }
  
  .page__hero_text {
    color: var(--white);
    font-weight: 300;
    align-self: center;
    margin-top: 0px;
    height: 163px;
    width: 1119px;
    font-size: xx-large;
    margin-left: 400px;
    margin-top: -275px;

  }

  .page__hero {
    background-image: none;
  }

  .nav__desktop {
    display: flex;
    background-color: var(--white);
    margin-bottom: 1080px;
  }

  .sluzby {
    margin-left: 531px;
    margin-top: -50px;
  }

  .desktop_h1 {
    font-size: 60px;

  }

  .sluzby_text {
    font-size: 20px;
    width: 800px;
    }

    .sluzby_list {
      margin-top: 200px;
      margin-left: 201px;
    }

    .grid__right {

    }
    .grid__left {

    }

    .image__odd {
      height: 307px;
      width: 729px;
    }

    .image__even {
      height: 307px;
      width: 729px;
    }
  }