:root {
    --orange: #EB6C27;
    --white: #ffffff;
  }
@media (min-width: 1281px) {
.page__hero {
    background-image: none;
      }    
.navbar__menu {
    width: 750px;
    background-color: hsla(0, 0%, 0%, 0.0);
   }
   .navbar__logo {
    padding-right: 900px ;
    margin-top: 15px;
   }
   .nav-item {
    background-color: var(--white);
    display: flex;
    color: gray;
  }
  .nav-link {
    color: gray;
    display:block;
    margin-left: 50px;
  }
  .nav-link:active { 
    background-color: var(--orange);
  }
  .nav-item {
    background-color: none;
  }
  .navbar {
    display: flex;
    background-image: url(./img/bg1920filter.jpg);
    background-repeat: no-repeat;
  }
  .page__hero {
    filter: none;
  }
   .page__hero_title {
    color: var(--white);
    font-weight: 800;
    margin-top: -357px;
    white-space: nowrap;
    width: max-content;
    font-size: 120px;
    margin-left: 400px;
    margin-top: -775px;
    margin-bottom: 275px;
    filter: none;
  }
  
  .page__hero_text {
    color: var(--white);
    font-weight: 300;
    align-self: center;
    margin-top: 0px;
    height: 163px;
    width: 1119px;
    font-size: xx-large;
    margin-left: 400px;
    margin-top: -275px;

  }

  .page__hero {
    background-image: none;
  }

  .nav__desktop {
    display: flex;
    background-color: var(--white);
    margin-bottom: 1080px;
  }

  .sluzby {
    margin-left: 531px;
    margin-top: -50px;
  }

  .desktop_h1 {
    font-size: 60px;

  }

  .sluzby_text {
    font-size: 20px;
    width: 800px;
    }

    .sluzby_list {
      margin-top: 200px;
      margin-left: 201px;
    }

    .grid__right {

    }
    .grid__left {

    }

    .image__odd {
      height: 307px;
      width: 729px;
    }

    .image__even {
      height: 307px;
      width: 729px;
    }

    .teaser {
      margin-top: 42px;
      padding-top: 50px;
      background-image: url(./img/background.png);
      height: min-content;
      background-size: 100vw;
      height: 458px;
      background-repeat: no-repeat;
    }

    .teaser__text {
      font-size: 30px;
    }

    .teaser__text2 {
      margin-left: 2px;
    }

    .teaser__text1 {
      margin-left: 204px;
    }
    .teaser__text3 {
      margin-left: -830px;
      margin-top: 15px;
    }

    .teaser__button {
      margin-top: 264px;
      margin-left: 204px;
      font-size: 20px;
      padding: 20px 80px;
    }

    .reference {
      margin-left: 495px;
    }
    .reference__h1 {
      font-size: 60px;

    }

      .desktop_reposition {
        margin-left: 550px;
        margin-top: -70px;
      }

      .reference__p {
        max-width: 890px;
        text-align: center;
      }
    
      .flex {
        display: flex;
        margin-left: 205px;
        gap: 80px;
      }

      .refimage1, .refimage2, .refimage3 {
        width: 450px;
        height: 280px;
      }

      .refimage1 {
        background-image: url(./img/hasicka_zbrojnice.jpg);
      }

      .refimage2 {
       /* background-color: rgba(235, 108, 39, 0.1);*/
        background-image: url(./img/pracky.jpg);
      }

      .refimage3 {
        background-image: url(./img/zem.jpg);
      }

      .reference__button {
        margin-left: 854px;
      }

      .footer {
        height: 356px;
      }

      .footer__text {
        font-size: 60px;
      }

      .footer__podtext {
        font-size: 25px;
        line-height: 34.05px;
      }

      .footer__button {
        margin-left: 872.5px;
      }
  }