:root {
  --orange: #EB6C27;
  --white: #ffffff;
}

html {
   font-family: 'Roboto', sans-serif;
 }
 .nav__mobile {
    display: flex;
    margin-top: 16px;
    width: 320px;
    justify-content: space-between;
    align-items: center;
    margin-left: 16px;
 }

 .logo {
  height: 44px;
  min-width: 127px;
 }

 .menutext {
  letter-spacing: 0;
  margin-top: -1px;
  width: fit-content;
 }

 .icon {
  width: 35px;
  height: 5px;
  background-color: var(--orange) ;
  margin: 6px 0;
}

.hamburger {
  margin-top: 5px;
}

.page__hero {
  padding: 5em;
  background-size: cover;
  background-position: center;
  background-image: url(./img/1.png);
  filter: brightness(75%);
  width: -webkit-fill-available;
  height: 269px;
  position: absolute;
}

.page__hero_title {
  filter: brightness(200%);
  color: var(--white);
  font-weight: 800;
  margin-top: 157px;
  white-space: nowrap;
  font-size: x-large;
}

.page__hero_text {
  color: var(--white);
  filter: brightness(200%);
  font-weight: 300;
  height: 27px;
  align-self: center;
}

.sluzby {
  margin-top: 466px;
  width: 318px;
  height: 85px;
  position: relative;
}

.sluzby_nadpis {
  font-size: x-small;
  white-space: nowrap;
  margin-left: 21px;
}

.sluzby_text {
  margin-left: 21px;
}

.orange {
  color: var(--orange);
  white-space: nowrap;
}

.sluzby_item {
  margin-top: 100px;
  margin-left: 21px;
}

.grid__right {
  
}

.grid_left {

}

.sluzby_button {
  width: 170px;
  display: block;
  color: var(--orange);
  border: 1px dashed var(--orange);
  padding: 12px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  transition-duration: 0.4s;
  cursor: pointer;
}

.sluzby_item--image {

}

.image__even {
  border-radius: 0 0 0 40px;
}

.image__odd {
  border-radius: 0 0 40px 0;
}

.image1 {
  margin-bottom: -70px;
  background-image: url(./img/6.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 10em;
}

.image2 {
  margin-bottom: -70px;
  background-image: url(./img/5.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 10em;
}

.image3 {
  margin-bottom: -70px;
  background-image: url(./img/4.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 10em;
}

.image4 {
  margin-bottom: -70px;
  background-image: url(./img/3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 10em;
}
