:root {
  --orange: #EB6C27;
  --white: #ffffff;
}

html {
   font-family: 'Roboto', sans-serif;
 }
 .nav__mobile {
  padding: 25px;
}

 .MENUtxt {
  margin-left: 120px;
  margin-bottom: 40px;
 }
 .menu {
  margin-top: 4%;
  display: none;
  background-color: var(--orange);
}

menu {
  margin-top: 4%;
  display: flex;
  background-color: var(--orange);
}
.menu a {
  display: block;
  text-align: left;
  padding: 10px;
  color: white;
}

.menu-icon {
  line-height: 0;
  scale: 1.5;
  padding: 0%;
  border-width: 0;
  color: var(--orange);
  margin-left: 315px;
  margin-bottom: 15px;

}
.menu-icon:active + .menu,
.menu-icon:focus + .menu {
  display: block;
}

 .logo {
  margin-bottom: -30px;
  height: 44px;
  min-width: 127px;
 }

 .menutext {
  letter-spacing: 0;
  margin-top: -1px;
  width: fit-content;
 }

 .icon {
  width: 35px;
  height: 5px;
  background-color: var(--orange) ;
  margin: 6px 0;
}

.hamburger {
  margin-top: 5px;
}

.page__hero {
  padding: 5em;
  background-size: cover;
  background-position: center;
  background-image: url(./img/1.png);
  filter: brightness(75%);
  width: -webkit-fill-available;
  height: 269px;
  position: absolute;
}

.page__hero_title {
  filter: brightness(200%);
  color: var(--white);
  font-weight: 800;
  margin-top: 157px;
  white-space: nowrap;
  font-size: x-large;
}

.page__hero_text {
  color: var(--white);
  filter: brightness(200%);
  font-weight: 300;
  height: 27px;
  align-self: center;
}

.sluzby {
  margin-top: 466px;
  width: 318px;
  height: 85px;
  position: relative;
}

.sluzby_nadpis {
  font-size: x-small;
  white-space: nowrap;
  margin-left: 21px;
}

.sluzby_text {
  margin-left: 21px;
}

.orange {
  color: var(--orange);
  white-space: nowrap;
}

.sluzby_item {
  margin-top: 100px;
  margin-left: 21px;
}

.grid__right {
  
}

.grid_left {

}

.sluzby_button {
  width: 170px;
  display: block;
  color: var(--orange);
  border: 1px dashed var(--orange);
  padding: 12px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  transition-duration: 0.4s;
  cursor: pointer;
}

.sluzby_item--image {

}

.image__even {
  border-radius: 0 0 0 40px;
}

.image__odd {
  border-radius: 0 0 40px 0;
}

.image1 {
  margin-bottom: -35px;
  background-image: url(./img/6.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 10em;
}

.image2 {
  margin-bottom: -70px;
  background-image: url(./img/5.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 10em;
}

.image3 {
  margin-bottom: -70px;
  background-image: url(./img/4.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 10em;
}

.image4 {
  margin-bottom: -70px;
  background-image: url(./img/3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 10em;
}

.teaser {
  margin-top: 42px;
  padding-top: 50px;
  background-image: url(./img/background.png);
  height: min-content;
  background-size: 100vw;
  height: 179px;
  background-repeat: no-repeat;
}

.teaser__text {
  white-space: nowrap;
  margin-left: 23px;
  color: var(--white);
  font-size: 17px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.teaser__button {
  margin-top: 52px;
  width: 170px;
  display: block;
  color: var(--white);
  background-color: var(--orange);
  padding: 12px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-left: 23px;
}

.teaser__text3 {
  padding-top: 33px;
    position: absolute;
    margin-left: -236px;
}

.reference {
  margin-left: 20px;
}

.reference__h1 {
  margin-bottom: -15px;
  font-size: x-large;
}

.reference__p {
  font-size: medium;
  margin-top: 40px;
  padding-top: 20px;
  font-weight: 400;
}

.reference__section {

}

.referece__card {
}

.reference__image {
  height: 200px;
  width: 320px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  margin-left: auto;
  margin-right: auto;

}

.refimage1{
  background-image: url(./img/hasicka_zbrojnice320.jpg);
}

.refimage2{
  background-image: url(./img/pracky320.jpg);
}

.refimage3{
  background-image: url(./img/zem320.jpg);
}
.reference__hh1
{
  margin-left: 20px;
  font-size: x-large;
  text-align: center;
}
.reference__pp{
  margin-left: 20px;
  margin-top: -8px;
  text-align: center;
  margin-bottom: 33px;
}

.reference__button {
  margin-left: 93px;
  width: 170px;
  display: block;
  color: var(--white);
  background-color: var(--orange);
  padding: 12px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-bottom: 108px;
}

.footer{
  height: 283px;
  width:auto;
  left: 0px;
  top: 3725px;
  border-radius: 0px;
  background-color: var(--orange);
}
.footer__text {
  text-align:center;
  color: var(--white);
  font-weight: 800;
  font-size: larger;
  padding-top: 40px ;

}

.footer__podtext{
  text-align: center;
  margin-top: 40px;
  color: var(--white);
  font-weight: 300;
}

.footer__button {
  width: 170px;
  display: block;
  color: var(--orange);
  background-color: var(--white);
  padding: 20px 50px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-left: 64.5px;
  margin-top: 40px;
}

.onas__ul {
  
}
.onas {
  margin-left: 20px;
}
.onas__li::marker {
  color: var(--orange);
  font-size: larger;
}